include view/head.pug
body 
    include view/nav.pug
    include view/header.pug
    include view/main.pug
    include view/footer.pug

    script(src="scripts/jquery.js") 
    script(src="scripts/nav.js") 
    script(src="scripts/main.js") 