nav.nav
    .container
        a.nav-menu__button(href="#!")
            span
        a.logo(href="#!") Premium
            span CAR
        
        ul.nav__menu 
            each val in ['Home', 'Recipes', 'Article', 'Contact', 'Purchase']
                li 
                    a.nav__menu-link(href="#!")= val   
        i.far.fa-search

        
    